<div class="col-md-4 col-md-offset-4">
  <form id="formProducto">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price" />
    </div>
    <div class="form-group">
      <label for="thumbnail">Thumbnail</label>
      <input type="text" class="form-control" name="thumbnail" />
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" name="code" />
    </div>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" class="form-control" name="stock" />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" name="category" />
    </div>
    <button type="submit" class="btn btn-primary">Crear Producto</button>
  </form>
</div>